# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [3]:
import os
import glob
import psycopg2
import pandas as pd
import sql_queries as queries
from importlib import reload

In [4]:
conn = psycopg2.connect("host=127.0.0.1 port=6543 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [5]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [6]:
song_files = get_files("data/song_data/")

In [7]:
song_df = pd.DataFrame()
for path in song_files:
    song_df = pd.concat([song_df, pd.read_json(path, lines=True)], axis=0)
song_df.shape

(71, 10)

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [8]:
song_data = song_df[['song_id', 'title', 'artist_id', 'year', 'duration']].drop_duplicates()
song_data.shape

(71, 5)

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [ ]:
for idx, row in song_data.iterrows():
    try:
        cur.execute(queries.song_table_insert, row)
        conn.commit()
    except Exception as e:
        conn.rollback()
        raise e

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [ ]:
artist_data = song_df[['artist_id', 'artist_name', 'artist_location', 'artist_latitude', 'artist_longitude']].drop_duplicates()

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [ ]:
reload(queries)
for i, row in artist_data.iterrows():
    try:
        cur.execute(queries.artist_table_insert, row)
        conn.commit()
    except Exception as e:
        conn.rollback()
        raise e

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [9]:
log_files = get_files("data/log_data/")

In [10]:
log_df = pd.DataFrame()
for path in log_files:
    log_df = pd.concat([log_df, pd.read_json(path, lines=True)], axis=0)
log_df.shape

(8056, 18)

In [13]:
logged_songs = set(log_df.song)

In [17]:
available_songs = [i.lower().strip() for i in song_data.title]

for song in logged_songs:
    if song is not None and song.lower().strip() in available_songs:
        print(song)

Setanta matins
Intro

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [ ]:
time_df = log_df.loc[log_df.page == 'NextSong']
time_df.shape

In [ ]:
t = pd.to_datetime(log_df.ts, unit='ms')
t.head()

In [ ]:
# timestamp, hour, day, week of year, month, year, and weekday

time_data = zip(t, t.dt.hour, t.dt.day, t.dt.weekofyear, t.dt.month, t.dt.year, t.dt.weekday)
column_labels = ('start_time', 'hour', 'day', 'week', 'month', 'year', 'weekday')

In [ ]:
time_df = pd.DataFrame(time_data, columns=column_labels)
time_df.head()

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [ ]:
for i, row in time_df.iterrows():
    try:
        cur.execute(queries.time_table_insert, list(row))
        conn.commit()
    except Exception:
        conn.rollback()
        raise Exception("Error inserting data")

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [ ]:
user_df_base = log_df[['userId', 'firstName', 'lastName', 'gender', 'level', 'ts']].drop_duplicates()

In [ ]:
user_df = user_df_base \
.groupby(['userId', 'firstName', 'lastName', 'gender', 'level']) \
.max('ts') \
.sort_values(['userId', 'ts']) \
.reset_index()

user_df.shape

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [ ]:
reload(queries)

for i, row in user_df.iterrows():
    insert_values = (
        row.userId, 
        row.firstName, 
        row.lastName, 
        row.gender, 
        row.level
    )
    try:
        cur.execute(queries.user_table_insert, insert_values)
        conn.commit()
    except Exception as e:
        conn.rollback()
        print(e)
        next

Run `test.ipynb` to see if you've successfully added records to this table.

In [ ]:
log_df.columns

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [ ]:
row

In [ ]:
# How to ensure no duplicated data is inserted?

In [ ]:
reload(queries)

for index, row in log_df.iterrows():

    # get songid and artistid from song and artist tables
    try:
        cur.execute(queries.song_select, (row.song, row.artist, row.length))
        results = cur.fetchone()
    except Exception as e:
        conn.rollback()
        raise e
    
    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None

    # insert songplay record
    songplay_data = (
        row.ts, 
        row.userId, 
        row.level,
        songid,
        row.song,
        artistid,
        row.artist,
        row.sessionId,
        row.location,
        row.userAgent
    )
    try:
        cur.execute(queries.songplay_table_insert, songplay_data)
        conn.commit()
    except Exception:
        conn.rollback()
        raise Exception(f"Failed to insert row data: {songplay_data}")

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [ ]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.